.spa-shell-main, .spa-shell-main-nav,
.spa-shell-main-content {
  position: absolute;
}

.spa-shell-main {
  top: 40px;
  left: 0;
  bottom: 40px;
  right: 0;
}

.spa-shell-main-content,
.spa-shell-main-nav {
  top: 0;
  bottom: 0;
}

.spa-shell-main-nav {
  width: 250px;
  background: #eee;
}

.spa-x-closed .spa-shell-main-nav {
  width: 0;
}

.spa-shell-main-content {
  left: 250px;
  right: 0;
  background: #ddd;
  transition: left 0.3s linear;
}

.spa-x-closed .spa-shell-main-content {
  left: 0;
  transition: left 0.3s linear;
}
